### Imports

In [16]:
import pandas as pd
import numpy as np 
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score

In [9]:
data = pd.read_csv("../data/Rental_Price_cleaned.csv")
data.drop(columns=['Unnamed: 0', 'ads_id', 'prop_name'], inplace=True)

C:\Users\danie\AppData\Local\Temp\ipykernel_20384\1105527456.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("../data/Rental_Price_cleaned.csv")

In [10]:
data.head()

,completion_year,monthly_rent,location,property_type,rooms,parking,bathroom,size,furnished,facilities,...,Minimart,MP_Hall,No_Fac,Parking,Playground,Sauna,Security,Squash,Pool,Tennis
0,2022.0,4200.0,Kuala Lumpur - Taman Desa,Condominium,5,2.0,6.0,1842,Fully Furnished,"Minimart, Gymnasium, Security, Playground, Swi...",...,True,True,False,True,True,False,True,False,True,False
1,NaN,2300.0,Kuala Lumpur - Cheras,Condominium,3,1.0,2.0,1170,Partially Furnished,"Playground, Parking, Barbeque area, Security, ...",...,False,False,False,True,True,True,True,False,True,False
2,NaN,1000.0,Kuala Lumpur - Taman Desa,Apartment,3,0.0,2.0,650,Fully Furnished,"Minimart, Jogging Track, Lift, Swimming Pool",...,True,False,False,False,False,False,False,False,True,False
3,2020.0,1700.0,Kuala Lumpur - Sentul,Apartment,2,1.0,2.0,743,Partially Furnished,"Parking, Playground, Swimming Pool, Squash Cou...",...,True,False,False,True,True,False,True,True,True,False
4,NaN,1299.0,Kuala Lumpur - Mont Kiara,Service Residence,1,1.0,1.0,494,Not Furnished,"Parking, Security, Lift, Swimming Pool, Playgr...",...,True,True,False,True,True,False,True,False,True,False

In [12]:
data.columns.to_list()

['completion_year',
 'monthly_rent',
 'location',
 'property_type',
 'rooms',
 'parking',
 'bathroom',
 'size',
 'furnished',
 'facilities',
 'additional_facilities',
 'region',
 'AC',
 'Cooking',
 'Internet',
 'Pub_Trsp',
 'No_Afac',
 'Washing_Machine',
 'BBQ',
 'Club_House',
 'Gym',
 'Jog',
 'Lift',
 'Minimart',
 'MP_Hall',
 'No_Fac',
 'Parking',
 'Playground',
 'Sauna',
 'Security',
 'Squash',
 'Pool',
 'Tennis']

In [14]:
binary = data.select_dtypes(bool).columns.to_list()
for cols in binary:
    data[cols] = data[cols].astype('category').cat.codes

In [15]:
data.head()

,completion_year,monthly_rent,location,property_type,rooms,parking,bathroom,size,furnished,facilities,...,Minimart,MP_Hall,No_Fac,Parking,Playground,Sauna,Security,Squash,Pool,Tennis
0,2022.0,4200.0,Kuala Lumpur - Taman Desa,Condominium,5,2.0,6.0,1842,Fully Furnished,"Minimart, Gymnasium, Security, Playground, Swi...",...,1,1,0,1,1,0,1,0,1,0
1,NaN,2300.0,Kuala Lumpur - Cheras,Condominium,3,1.0,2.0,1170,Partially Furnished,"Playground, Parking, Barbeque area, Security, ...",...,0,0,0,1,1,1,1,0,1,0
2,NaN,1000.0,Kuala Lumpur - Taman Desa,Apartment,3,0.0,2.0,650,Fully Furnished,"Minimart, Jogging Track, Lift, Swimming Pool",...,1,0,0,0,0,0,0,0,1,0
3,2020.0,1700.0,Kuala Lumpur - Sentul,Apartment,2,1.0,2.0,743,Partially Furnished,"Parking, Playground, Swimming Pool, Squash Cou...",...,1,0,0,1,1,0,1,1,1,0
4,NaN,1299.0,Kuala Lumpur - Mont Kiara,Service Residence,1,1.0,1.0,494,Not Furnished,"Parking, Security, Lift, Swimming Pool, Playgr...",...,1,1,0,1,1,0,1,0,1,0