In [1]:
import pandas as pd 
import matplotlib.pyplot as plt 
import numpy as np

In [2]:
data = pd.read_csv("data/mudah-apartment-kl-selangor.csv")

In [3]:
data['parking'].fillna(0, inplace=True)
data['rooms'].fillna(0, inplace=True)
data['facilities'].fillna("None", inplace=True)
data['additional_facilities'].fillna("None", inplace=True)
data['bathroom'].fillna(0, inplace=True)
data.dropna(subset=['monthly_rent', 'furnished'], inplace=True)

In [4]:
data.isna().sum()

ads_id                      0
prop_name                 944
completion_year          9180
monthly_rent                0
location                    0
property_type               0
rooms                       0
parking                     0
bathroom                    0
size                        0
furnished                   0
facilities                  0
additional_facilities       0
region                      0
dtype: int64

In [5]:
data.drop(columns=['ads_id', 'prop_name', 'completion_year'], inplace=True)

In [6]:
data['monthly_rent']

0        RM 4 200 per month
1        RM 2 300 per month
2        RM 1 000 per month
3        RM 1 700 per month
4        RM 1 299 per month
                ...
19986    RM 1 200 per month
19987    RM 1 300 per month
19988    RM 1 350 per month
19989    RM 1 200 per month
19990    RM 1 000 per month
Name: monthly_rent, Length: 19986, dtype: object

In [7]:
#get only numerics for the rent
data['monthly_rent'] = data['monthly_rent'].str.replace(" ", '').str.extract('(\d+)')

#get only numerics for the size
data['size'] = data['size'].str.replace(" ", '').str.extract('(\d+)')

In [8]:
data['monthly_rent'] =  pd.to_numeric(data['monthly_rent'])
data['size'] =  pd.to_numeric(data['size'])

In [ ]:
data.to_csv("data/Rental_Price_cleaned.csv")